.newParty, .btn_event_create, .party_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.newParty__fields {
  margin-bottom: 1em;

  @include medium {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 13px;
    max-width: 500px;
  }

  label {
    display: block;
    
    @include medium {
      place-self: center end;
    }
  }

  &.share {
    margin-top: 3rem;
  }
}